.selector_and_options {
  .cart_and_user {
    .header_sub_menu {
      border-left: 1px solid #eff0f2;
      height: 100%;
      width: 44px;
      display: none;
      .hamburger_icon {
        width: 100%;
        height: 100%;
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          transform: scale(1.07);
        }
        .icon {
          height: 20px;
          width: 20px;
          fill: none;
          vertical-align: middle;
          color: #636467;
        }
      }
      .sub_menu {
        overflow-y: auto;
        height: calc(100vh - 100%);
        position: absolute;
        top: 100%;
        right: 0;
        width: 400px;
        z-index: 99;
        background: #fff;
        border: 1px solid #eff0f2;
        @media (max-width: 750px) {
          width: 90%;
        }
        .sub_menu_items {
          display: flex;
          flex-direction: column;
          .sub_menu_item {
            cursor: pointer;
            user-select: none;
            padding: 11px 52px 11px 32px;
            border-bottom: 1px solid #eff0f2;
            .item_components {
              display: flex;
              align-items: center;
              position: relative;
              .item_image {
                height: 36px;
                width: 36px;
                margin: 0 18px 0 0;
              }
              .item_name {
                font-size: 16px;
                color: #102341;
                font-weight: 350;
                letter-spacing: 1px;
              }
              .arrow_icon {
                margin: 0 -23px 0 auto;
                min-width: 23px;
                min-height: 23px;
              }
            }
          }
        }
        .sub_menu_selectors {
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .language_selector {
            position: relative;
            display: flex;
            align-items: center;
            gap: 30px;
            .title {
              margin: 18px 0;
              font-size: 18px;
              line-height: 1.3;
              color: #102341;
            }
            .languages {
              user-select: none;
              cursor: pointer;
              font-family: "Assistant", sans-serif;
              border-bottom: 1px solid #eff0f2;
              position: relative;
              &:hover {
                .current_lang {
                  color: #004996;
                }
              }
              .current_lang {
                width: 65px;
                display: block;
                font-size: 13px;
                padding: 10px 40px 10px 10px;
                font-weight: 650;
                text-transform: uppercase;
              }
              .arrow_down {
                position: absolute;
                bottom: 20px;
                right: 10px;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #102341;
              }
              .lang_list {
                display: block;
                z-index: 2;
                position: absolute;
                border: 1px solid #eff0f2;
                bottom: 100%;
                left: 0;
                width: 100%;
                background: #fff;
                .language {
                  text-transform: uppercase;
                  font-size: 13px;
                  padding: 10px 40px 10px 10px;
                  font-weight: 650;
                  &:hover {
                    color: #004996;
                  }
                }
              }
            }
          }
          .region_selector {
            position: relative;
            display: flex;
            align-items: center;
            gap: 30px;
            .title {
              margin: 18px 0;
              font-size: 18px;
              line-height: 1.3;
              color: #102341;
            }
            .regions {
              user-select: none;
              cursor: pointer;
              font-family: "Assistant", sans-serif;
              border-bottom: 1px solid #eff0f2;
              position: relative;
              &:hover {
                .current_region {
                  color: #004996;
                }
              }
              .current_region {
                width: 65px;
                display: block;
                font-size: 13px;
                padding: 10px 40px 10px 10px;
                font-weight: 650;
                text-transform: uppercase;
              }
              .arrow_down {
                position: absolute;
                bottom: 20px;
                right: 10px;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #102341;
              }
              .region_list {
                display: block;
                z-index: 2;
                position: absolute;
                border: 1px solid #eff0f2;
                bottom: 100%;
                left: 0;
                width: 100%;
                background: #fff;
                .region {
                  text-transform: uppercase;
                  font-size: 13px;
                  padding: 10px 40px 10px 10px;
                  font-weight: 650;
                  &:hover {
                    color: #004996;
                  }
                }
              }
            }
          }
        }
        .sub_menu_social {
          margin: 20px;
          .social_list {
            margin: 0 0 0 -12.5px;
            display: flex;
            align-items: center;
            .list_item {
              &:hover {
                a {
                  .social_icon {
                    transform: scale(1.07);
                    color: rgba($color: #102341, $alpha: 0.75);
                  }
                }
              }
              a {
                display: block;
                padding: 13px;
                .social_icon {
                  height: 18px;
                  width: 18px;
                  color: #102341;
                }
              }
            }
          }
        }
      }
    }
  }
}
