.header {
  position: relative;
  background: #fff;
  transition: transform 0.3s ease-in-out;
  border-bottom: 2px solid #eff0f2;
  &.open {
    z-index: 2;
    position: sticky;
    top: 0;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
  &.closed {
    z-index: 2;
    position: sticky;
    top: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }
  .header_top {
    border-bottom: 1px solid #eff0f2;
    .row {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      align-items: center;
      column-gap: 1.5rem;
      .heading_logo {
        padding: 0 0 0 12em;
        @media (max-width: 326px) {
          a {
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
      .search_bar {
        .search {
          position: relative;
          .search_input {
            height: 2.5em;
            width: 100%;
            padding: 15px 50px 15px 15px;
            text-align: left;
            font-size: 1rem;
            border: none;
            color: #102341;
            box-shadow: 0 0 0 0.1rem rgba(16, 35, 65, 0.35);
            outline: none;
            line-height: 1.5;
            &:focus {
              box-shadow: 0 0 0 0.1rem rgba(16, 35, 65, 0.55);
              height: 2.6em;
            }
          }
          .search_btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background: transparent;
            border: none;
            outline: none;
            .search_icon {
              font-size: 14px;
              color: #102341;
              height: 18px;
              width: 18px;
              margin: 0 10px 0 0;
            }
          }
        }
      }
      .selector_and_options {
        display: flex;
        margin: 0 20px 0 0;
        align-items: center;
        justify-content: flex-end;
        .language_and_region {
          display: flex;
          margin: 0 12px;
          padding: 0 12px;
          .language_selector {
            position: relative;
            border-left: 1px solid #eff0f2;
            display: flex;
            flex-direction: column;
            padding: 0 12px;
            margin: 0 12px;
            .title {
              margin: 12px 0;
              font-size: 12px;
              color: #102341;
              font-weight: 400;
              letter-spacing: 0.06rem;
              line-height: 1.3;
            }
            .languages {
              user-select: none;
              cursor: pointer;
              font-family: "Assistant", sans-serif;
              border-bottom: 1px solid #eff0f2;
              position: relative;
              &:hover {
                .current_lang {
                  color: #004996;
                }
              }
              .current_lang {
                width: 65px;
                display: block;
                font-size: 13px;
                padding: 10px 40px 10px 10px;
                font-weight: 650;
                text-transform: uppercase;
              }
              .arrow_down {
                position: absolute;
                bottom: 20px;
                right: 10px;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #102341;
              }
              .lang_list {
                display: block;
                z-index: 2;
                position: absolute;
                border: 1px solid #eff0f2;
                top: 100%;
                left: 0;
                width: 100%;
                background: #fff;
                .language {
                  text-transform: uppercase;
                  font-size: 13px;
                  padding: 10px 40px 10px 10px;
                  font-weight: 650;
                  &:hover {
                    color: #004996;
                  }
                }
              }
            }
          }
          .region_selector {
            position: relative;
            border-left: 1px solid #eff0f2;
            display: flex;
            flex-direction: column;
            padding: 0 12px;
            margin: 0 12px;
            .title {
              margin: 12px 0;
              font-size: 12px;
              color: #102341;
              font-weight: 400;
              letter-spacing: 0.06rem;
              line-height: 1.3;
            }
            .regions {
              user-select: none;
              cursor: pointer;
              font-family: "Assistant", sans-serif;
              border-bottom: 1px solid #eff0f2;
              position: relative;
              &:hover {
                .current_region {
                  color: #004996;
                }
              }
              .current_region {
                width: 65px;
                display: block;
                font-size: 13px;
                padding: 10px 40px 10px 10px;
                font-weight: 650;
                text-transform: uppercase;
              }
              .arrow_down {
                position: absolute;
                bottom: 20px;
                right: 10px;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #102341;
              }
              .region_list {
                display: block;
                z-index: 2;
                position: absolute;
                border: 1px solid #eff0f2;
                top: 100%;
                left: 0;
                width: 100%;
                background: #fff;
                .region {
                  text-transform: uppercase;
                  font-size: 13px;
                  padding: 10px 40px 10px 10px;
                  font-weight: 650;
                  &:hover {
                    color: #004996;
                  }
                }
              }
            }
          }
        }
        .cart_and_user {
          display: flex;
          height: 90px;
          .user {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 44px;
            &:hover {
              transform: scale(1.07);
            }
            .user_icon {
              height: 20px;
              width: 20px;
              fill: none;
              vertical-align: middle;
              color: #636467;
            }
          }
        }
      }
    }
  }
  .navbar {
    width: 100%;
    border-bottom: 1px solid #eff0f2;
    .nav_list {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .kits {
        &:hover {
          .kits_sub {
            display: block;
          }
        }
      }
      .shop_by_player {
        &:hover {
          .shop_by_player_sub {
            display: flex;
          }
        }
      }
      .training {
        &:hover {
          .training_sub {
            display: flex;
          }
        }
      }
      .fashion {
        &:hover {
          .fashion_sub {
            display: flex;
          }
        }
      }
      .accessories {
        &:hover {
          .accessories_sub {
            display: flex;
          }
        }
      }
      .nav_item {
        .nav_link {
          font-family: "Assistant", sans-serif;
          display: block;
          padding: 12px 27px 12px 45px;
          font-size: 15px;
          font-weight: 700;
          color: #102341;
          &:hover {
            color: #004996;
          }
        }
        .sub_menu {
          background: #fff;
          font-family: "Assistant", sans-serif;
          position: absolute;
          z-index: 1;
          display: none;
          top: 100%;
          left: 0;
          width: 100%;
          padding: 20px 0;
          border: 1px solid rgba(16, 35, 65, 0.2);
        }
        .kits_sub {
          .sub_menu_cards {
            display: flex;
            margin: 0 10%;
            .sub_menu_card {
              display: flex;
              flex-direction: column;
              margin: 0 15px;
              width: 12.5%;
              @media (max-width: 1100px) {
                margin: 0 10px;
              }
              .sub_card_image {
                aspect-ratio: 1/1;
                width: auto;
                height: auto;
              }
              .sub_card_title {
                line-height: 1;
                font-weight: 650;
                letter-spacing: 1px;
                margin: 10px 0 4px;
                font-size: 18px;
                color: #102341;
                @media (max-width: 1100px) {
                  font-size: 12px;
                }
                &:hover {
                  color: #004996;
                }
              }
              .sub_card_item {
                letter-spacing: 1px;
                line-height: 1;
                font-weight: 700;
                margin: 4px 0;
                font-size: 13px;
                color: #102341;
                @media (max-width: 1100px) {
                  font-size: 11px;
                }
                &:hover {
                  color: #004996;
                }
              }
            }
          }
        }
        .shop_by_player_sub {
          padding: 20px 10%;
          display: none;
          .players_list {
            text-transform: uppercase;
            margin: 0 20px 0 0;
            .list_title {
              a {
                margin: 4px 20px 4px 0;
                line-height: 1;
                font-weight: 650;
                letter-spacing: 1px;
                font-size: 18px;
                color: #102341;
                text-transform: uppercase;
                &:hover {
                  color: #004996;
                }
              }
            }
            .player {
              a {
                margin: 4px 20px;
                letter-spacing: 1px;
                line-height: 1;
                font-weight: 700;
                margin: 4px 0;
                font-size: 13px;
                color: #102341;
                &:hover {
                  color: #004996;
                }
              }
            }
          }
          .sub_info_part {
            .info_part_image {
              width: 333px;
            }
            h3 {
              color: #102341;
              font-size: 18px;
              margin: 18px 0 5px;
              font-weight: 400;
            }
            h5 {
              a {
                color: #102341;
                font-size: 13px;
                text-decoration: underline;
              }
            }
          }
        }
        .fashion_sub,
        .accessories_sub,
        .training_sub {
          padding: 20px 10%;
          display: none;
          .items {
            text-transform: uppercase;
            margin: 0 20px 0 0;
            .list_title {
              a {
                margin: 4px 20px 4px 0;
                line-height: 1;
                font-weight: 650;
                letter-spacing: 1px;
                font-size: 18px;
                color: #102341;
                text-transform: uppercase;
                &:hover {
                  color: #004996;
                }
              }
            }
            .list_item {
              a {
                margin: 4px 20px;
                letter-spacing: 1px;
                line-height: 1;
                font-weight: 700;
                margin: 4px 0;
                font-size: 13px;
                color: #102341;
                &:hover {
                  color: #004996;
                }
              }
            }
          }
          .sub_info_part {
            .info_part_image {
              width: 333px;
            }
            h3 {
              color: #102341;
              font-size: 18px;
              margin: 18px 0 5px;
              font-weight: 400;
            }
            h5 {
              a {
                color: #102341;
                font-size: 13px;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .header_bottom {
    .search_bar {
      display: none;
      .search {
        position: relative;
        .search_input {
          height: 2.5em;
          width: 100%;
          padding: 15px 50px 15px 15px;
          text-align: left;
          font-size: 1rem;
          border: none;
          color: #102341;
          box-shadow: 0 0 0 0.1rem rgba(16, 35, 65, 0.35);
          outline: none;
          line-height: 1.5;
          &:focus {
            box-shadow: 0 0 0 0.1rem rgba(16, 35, 65, 0.55);
            height: 2.6em;
          }
        }
        .search_btn {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          background: transparent;
          border: none;
          outline: none;
          .search_icon {
            font-size: 14px;
            color: #102341;
            height: 18px;
            width: 18px;
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .header {
    .navbar {
      display: none;
    }
    .header_top {
      .row {
        grid-template-columns: 1fr 1fr;
        .heading_logo {
          padding-left: 2em;
        }
        .search_bar {
          display: none;
        }
        .selector_and_options {
          .language_and_region {
            display: none;
          }
          .cart_and_user {
            margin-right: 0;
            .header_sub_menu {
              display: flex;
            }
          }
        }
      }
    }
    .header_bottom {
      .search_bar {
        display: block;
        padding: 0.75em 2em;
      }
    }
  }
}
