.selector_and_options {
  .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 44px;
    position: relative;
    &:hover {
      .cart_icon {
        height: 48px;
        width: 48px;
      }
    }
    .cart_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 44px;
      width: 44px;
      fill: none;
      vertical-align: middle;
      color: #636467;
      z-index: 99;
    }
    .product_count {
      position: absolute;
      padding: 2px;
      bottom: 30px;
      right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #636467;
      height: 15px;
      min-width: 15px;
      border-radius: 10px;
      z-index: 99;
      span {
        display: block;
        line-height: 1.1;
        font-size: 9px;
        color: white;
      }
    }
  }
}

.cart_context {
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease;
  background-color: transparent;
  height: 100vh;
  width: 100%;
  z-index: 99;
  &.open {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &.close {
    background-color: transparent;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 400px);
    height: 100vh;
  }
  .cart_content {
    height: 100%;
    width: 400px;
    float: right;
    @media (max-width: 400px) {
      width: auto;
    }
    .menu {
      width: 100%;
      height: 100%;
      padding: 12px;
      background: #fff;
      position: relative;
      .menu_close {
        user-select: none;
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 27px;
        font-size: 26px;
        line-height: 1;
      }
      .menu_title {
        font-size: 20px;
        color: #102341;
        letter-spacing: 0.06rem;
        line-height: 2.5;
      }
      .totals {
        padding: 15px;
        display: flex;
        flex-direction: column;
        h3 {
          align-self: flex-end;
          .sub_total {
            margin: 0 20px 0 0;
            font-size: 16px;
            color: #102341;
            font-weight: 600;
          }
          .total_price {
            font-size: 18px;
            font-weight: 300;
          }
        }
        .tax_note {
          text-align: center;
          margin: 22px 0;
          font-size: 14px;
          line-height: 1.5;
          font-weight: 300;
        }
        .cart_checkout {
          margin: 10px 0 0;
        }
      }
      .product_list {
        padding: 15px;
        max-height: 50vh;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .cart_checkout {
        text-align: center;
        cursor: pointer;
        margin: 15px;
        padding: 5px 30px;
        background: #102341;
        color: #fff;
        font-size: 15px;
        letter-spacing: 0.1rem;
        font-weight: bolder;
        line-height: 1.5;
        border: none;
        outline: none;
      }
    }
    .empty_menu {
      display: block;
      width: 100%;
      height: 100%;
      padding: 12px;
      background: #fff;
      position: relative;
      .menu_close {
        user-select: none;
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 27px;
        font-size: 26px;
        line-height: 1;
      }
      .menu_title {
        font-size: 20px;
        color: #102341;
        font-weight: 600;
      }
      .menu_info {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .empty_message {
          color: #102341;
          text-align: center;
          margin: 75px 0 20px;
          font-size: 20px;
          font-weight: 500;
          letter-spacing: 0.06rem;
        }
        a {
          text-align: center;
          display: inline-block;
          padding: 5px 30px;
          background: #102341;
          color: #fff;
          font-size: 15px;
          letter-spacing: 0.1rem;
          font-weight: bolder;
          line-height: 1.8;
        }
      }
    }
  }
}
