.hero {
  position: relative;
  .hero_bg {
    img {
      object-fit: cover;
      object-position: center center;
      min-height: 720px;
      width: 100%;
      contain: content;
    }
  }
  .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      color: #fff;
      font-size: 49px;
      white-space: nowrap;
      font-weight: 400;
      font-style: normal;
      text-align: center;
    }
    h2 {
      text-align: center;
      font-size: 30px;
      color: #fff;
      font-weight: lighter;
      font-style: normal;
    }
    .hero_btn {
      margin: 20px 0 0 0;
      a {
        display: block;
        padding: 5px 30px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        font-weight: bolder;
        border: 2px solid #fff;
        line-height: 1.8;
        transition: 100ms ease;
        &:hover {
          background: #004996;
          outline: 1px solid #fff;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .hero {
    .content {
      padding: 10px;
    }
  }
}

@media (max-width: 750px) {
  .hero {
    .hero_bg {
      img {
        min-height: 390px;
      }
    }
    .content {
      padding: 50px 10px;
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 326px) {
  .hero {
    .content {
      padding: 10px;
      h1 {
        white-space: wrap;
      }
      h2 {
        white-space: wrap;
      }
    }
  }
}
