.hero {
  position: relative;
  .hero_bg {
    img {
      max-height: 720px;
      width: 100%;
    }
  }
  .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      text-align: center;
      color: #fff;
      font-size: 49px;
      white-space: nowrap;
    }
    h2 {
      text-align: center;
      color: #fff;
    }
    .hero_btn {
      a {
        text-align: center;
        color: #fff;
      }
    }
  }
}
