.shop {
  .container {
    .row {
      padding: 0 50px;
      .title {
        user-select: none;
        span {
          display: block;
          margin: 7.5px 0;
          font-size: 10px;
          color: #102341;
          line-height: 1.5;
          a {
            color: #102341;
          }
        }
        h2 {
          font-size: 30px;
          color: #102341;
          line-height: 1.5;
          margin: 10px 0;
          font-weight: 500;
        }
        h3 {
          font-size: 16px;
          color: #102341;
          line-height: 1.5;
          margin: 10px 0;
          font-weight: 700;
        }
      }
      .products {
        .filter_bar {
          display: flex;
          gap: 5px;
          margin: 10px 0;
          select {
            outline: none;
          }
          .filter {
            position: relative;
            padding: 10px 0 10px 10px;
            color: #102341bf;
            border: 1px solid rgba(16, 35, 65, 0.75);
            transition: box-shadow 100ms ease;
            width: 20%;
            &:hover {
              box-shadow: 0 0 0 1px rgba(16, 35, 65, 0.55);
            }
            &.open {
              box-shadow: 0 0 0 1px rgba(16, 35, 65, 0.55);
            }
            .selection {
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
              .name {
                user-select: none;
                color: #102341bf;
                font-size: 14px;
                line-height: 1.8;
                font-weight: 700;
              }
              .arrow_icon {
                padding: 0 15px 0;
                svg {
                  width: 10px;
                  height: 10px;
                }
              }
            }
            .options {
              position: absolute;
              top: calc(100% + 5px);
              left: 0;
              background: #fff;
              border: 1px solid rgba(16, 35, 65, 0.2);
              width: 350px;
              max-height: 550px;
              overflow-y: scroll;
              &.open {
                display: block;
              }
              &.close {
                display: none;
              }
              .reset {
                position: sticky;
                top: 0;
                left: 0;
                background: #fff;
                display: flex;
                justify-content: flex-end;
                border-bottom: 1px solid rgba(16, 35, 65, 0.2);
                padding: 15px 20px;
                span {
                  display: block;
                  color: rgba(0, 73, 150, 0.85);
                  font-size: 15px;
                  text-decoration: underline;
                  text-underline-offset: 3px;
                  text-decoration-thickness: 1px;
                  transition: text-decoration-thickness ease 100ms;
                  &:hover {
                    text-decoration-thickness: 2px;
                  }
                }
              }
              .options_list {
                padding: 5px 20px;
                .option {
                  padding: 10px 20px 10px 12px;
                  display: flex;
                  align-items: flex-start;
                  gap: 12px;
                  input {
                    border: none;
                    outline: none;
                    height: 16px;
                    width: 16px;
                  }
                  label {
                    font-size: 14px;
                    color: #102341;
                    font-weight: 350;
                  }
                }
              }
            }
          }
        }
        .product_list {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          .card {
            cursor: pointer;
            // margin: 0 10px 20px;
            width: 23.5%;
            box-shadow: 0 3px 10px #0003;
            @media (min-width: 990px) {
              &:hover {
                .card_image {
                  .first_image {
                    opacity: 0;
                    transition: transform 500ms ease;
                    transform: scale(1.03);
                  }
                  .second_image {
                    opacity: 1;
                    transition: transform 500ms ease;
                    transform: scale(1.03);
                  }
                }
                .card_features {
                  .content {
                    .card_info {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
            .card_image {
              position: relative;
              padding: 0 0 100% 0;
              width: 100%;
              overflow: hidden;
              .first_image {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 1;
                width: 100%;
                object-fit: cover;
                object-position: center center;
                transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              }
              .second_image {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                width: 100%;
                object-fit: cover;
                object-position: center center;
                transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              }
            }
            .card_features {
              padding: 10px;
              .content {
                padding: 10px;
                border-bottom: 1px solid #7fa4ca;
                .card_info {
                  display: -webkit-box;
                  text-align: center;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  color: #102341;
                  font-size: 19px;
                  @media (max-width: 750px) {
                    font-size: 12px;
                  }
                }
                .price {
                  text-align: center;
                  font-size: 16px;
                  font-weight: 300;
                  color: #102341;
                  letter-spacing: 1px;
                  line-height: 1.5;
                  display: block;
                  @media (max-width: 750px) {
                    font-size: 13px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
